<h1>Edit <%=@team.name%></h1>
<h3>Remaining Roster Spots: <%=@team.roster_spots%></h3>
<% @team.players.each do |player| %>
<p><%= player.name %></p>
<% end %>
<br>
<form action="/teams/<%=@team.id%>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p><label for="team_name">Edit Team Name:</label>
    <input type="text" name="team_name"><p>
      <br>
      <label>Create a Custom Player:</label>
      <br>
      <label>Name:</label>
      <input  type="text" name="custom_player_name"</input>
      <br>

      <p><label>Select Players: </label><p>
        <% @players.sort_by { |player| player.name.downcase }.each do |player| %>
        <ul>
          <input type="checkbox" name="player_ids[]" value="<%= player.id%>" <%='checked' unless player.team_id.nil? %>><%=player.name%></input>
        </ul>
        <% end %>
   <input type="submit" value="submit">
</form>
