<h1><%=@team.name%></h1>
<% if @team.user.id == current_user.id %>
<h2>Your Lineup: </h2>
<% else %>
<h2>Lineup: </h2>
<% end %>
<% @team.players.each do |player| %>
<p><a href="/players/<%= player.id %>"> <%= player.name %></a></p>
  <% if !player.scraped? %>
  <form method="get" action="/players/<%= player.id %>/edit">
  <input type="submit" value="Edit <%= player.name %>">
  </form>
  <form method="post" action="/players/<%= player.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete <%= player.name %>">
  </form>
<% end%>
<% end %>
<h3><%= @team.roster_spots %> Roster Spots Available</h3>
